<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jxtc.bookapp.mapper.book.ChapterInfoMapper">
    <resultMap id="BaseResultMap" type="com.jxtc.bookapp.entity.ChapterInfo">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="book_id" property="bookId" jdbcType="INTEGER"/>
        <result column="chapter_id" property="chapterId" jdbcType="INTEGER"/>
        <result column="chapter_name" property="chapterName" jdbcType="VARCHAR"/>
        <result column="words" property="words" jdbcType="INTEGER"/>
        <result column="cp_book_id" property="cpBookId" jdbcType="VARCHAR"/>
        <result column="cp_chapter_id" property="cpChapterId" jdbcType="VARCHAR"/>
        <result column="is_free" property="isFree" jdbcType="TINYINT"/>
        <result column="price" property="price" jdbcType="INTEGER"/>
        <result column="source" property="source" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
        id
        ,
        book_id,
        chapter_id,
        chapter_name,
        words,
        cp_book_id,
        cp_chapter_id,
        is_free,
        price,
        source,
        create_time,
        update_time
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from chapter_info
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from chapter_info
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.jxtc.bookapp.entity.ChapterInfo">
        insert into chapter_info (id, book_id, chapter_id,
        chapter_name, words, cp_book_id,
        cp_chapter_id, is_free, price,
        source, create_time, update_time)
        values (#{id,jdbcType=INTEGER}, #{bookId,jdbcType=INTEGER}, #{chapterId,jdbcType=INTEGER},
        #{chapterName,jdbcType=VARCHAR}, #{words,jdbcType=INTEGER}, #{cpBookId,jdbcType=VARCHAR},
        #{cpChapterId,jdbcType=VARCHAR}, #{isFree,jdbcType=TINYINT}, #{price,jdbcType=INTEGER},
        #{source,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="com.jxtc.bookapp.entity.ChapterInfo">
        insert into chapter_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="bookId != null">
                book_id,
            </if>
            <if test="chapterId != null">
                chapter_id,
            </if>
            <if test="chapterName != null">
                chapter_name,
            </if>
            <if test="words != null">
                words,
            </if>
            <if test="cpBookId != null">
                cp_book_id,
            </if>
            <if test="cpChapterId != null">
                cp_chapter_id,
            </if>
            <if test="isFree != null">
                is_free,
            </if>
            <if test="price != null">
                price,
            </if>
            <if test="source != null">
                source,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="bookId != null">
                #{bookId,jdbcType=INTEGER},
            </if>
            <if test="chapterId != null">
                #{chapterId,jdbcType=INTEGER},
            </if>
            <if test="chapterName != null">
                #{chapterName,jdbcType=VARCHAR},
            </if>
            <if test="words != null">
                #{words,jdbcType=INTEGER},
            </if>
            <if test="cpBookId != null">
                #{cpBookId,jdbcType=VARCHAR},
            </if>
            <if test="cpChapterId != null">
                #{cpChapterId,jdbcType=VARCHAR},
            </if>
            <if test="isFree != null">
                #{isFree,jdbcType=TINYINT},
            </if>
            <if test="price != null">
                #{price,jdbcType=INTEGER},
            </if>
            <if test="source != null">
                #{source,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.jxtc.bookapp.entity.ChapterInfo">
        update chapter_info
        <set>
            <if test="bookId != null">
                book_id = #{bookId,jdbcType=INTEGER},
            </if>
            <if test="chapterId != null">
                chapter_id = #{chapterId,jdbcType=INTEGER},
            </if>
            <if test="chapterName != null">
                chapter_name = #{chapterName,jdbcType=VARCHAR},
            </if>
            <if test="words != null">
                words = #{words,jdbcType=INTEGER},
            </if>
            <if test="cpBookId != null">
                cp_book_id = #{cpBookId,jdbcType=VARCHAR},
            </if>
            <if test="cpChapterId != null">
                cp_chapter_id = #{cpChapterId,jdbcType=VARCHAR},
            </if>
            <if test="isFree != null">
                is_free = #{isFree,jdbcType=TINYINT},
            </if>
            <if test="price != null">
                price = #{price,jdbcType=INTEGER},
            </if>
            <if test="source != null">
                source = #{source,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.jxtc.bookapp.entity.ChapterInfo">
        update chapter_info
        set book_id = #{bookId,jdbcType=INTEGER},
        chapter_id = #{chapterId,jdbcType=INTEGER},
        chapter_name = #{chapterName,jdbcType=VARCHAR},
        words = #{words,jdbcType=INTEGER},
        cp_book_id = #{cpBookId,jdbcType=VARCHAR},
        cp_chapter_id = #{cpChapterId,jdbcType=VARCHAR},
        is_free = #{isFree,jdbcType=TINYINT},
        price = #{price,jdbcType=INTEGER},
        source = #{source,jdbcType=VARCHAR},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        update_time = #{updateTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=INTEGER}
    </update>
    <select id="selectByBookIdAndChapterId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from chapter_info
        where book_id = #{bookId,jdbcType=INTEGER}
        and chapter_id = #{chapterId,jdbcType=INTEGER}
    </select>
    <select id="selectListByBookIdForPage" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from chapter_info
        where book_id = #{bookId,jdbcType=INTEGER}
        <if test="orderBy == 2">
            order by chapter_id desc
        </if>
        limit #{offset,jdbcType=INTEGER},#{size,jdbcType=INTEGER}
    </select>
    <select id="countByBookId" parameterType="int" resultType="int">
        select count(id)
        from chapter_info
        where book_id = #{bookId,jdbcType=INTEGER}
    </select>
</mapper>